OPENAI_API_KEY1="sk-oOZr8ZFCOs6jaMHY8WuuY4jhSsh4v76rNyGyfzXXXX"
OPENAI_BASE_URL="https://api.openai-proxy.org/v1"
OPENAI_MODEL="gpt-5-nano"

#百度千帆平台
BAIDU_API_KEY="bce-v3/ALTAK-SBK4g4Q5Gew1cWJRbXsqa/4fb52444f54789e229955bcf59aa91cXXXXX"
BAIDU_BASE_URL="https://qianfan.baidubce.com/v2/chat/completions"

#阿里云百炼平台
DASHSCOPE_API_KEY="sk-587624f5fefb434e91033eXXXX"
DASHSCOPE_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

#智谱
ZHIPUAI_API_KEY="bb42fea3cc2f5fadbd0748fef7e8993f.TUQ4WvzXXXX"
ZHIPUAI_URL="https://open.bigmodel.cn/api/paas/v4/"


#硅基流动
SILICON_API_KEY="sk-sewouzpbefpmzuhybxsaragthenqwsjpbqfxponaXXXXX"

TAVILY_API_KEY="tvly-dev-Ed6T3lITqOAX5qPh7Bthb7XXXXX"